@model XRazor.Models.IndexPageViewModel

@{
    ViewBag.Title = "Index";
    //var xrazor = new XRazor.Extensions.XRazor();
}

@Xsl.Match("/",
    @<text>
        <div style="border-bottom: 1px solid #000;">
            @Xsl.ApplyTemplates()
        </div>
    </text>)

@Xsl.Match("IndexPageViewModel",
    @<text>
        <h1>@item.Greeting</h1>
    </text>)

@Xsl.Match("IndexPageViewModel",
    @<text>
        <h3>@item.Greeting</h3>
    </text>)



@Xsl.ApplyTemplates("/")
