@model XRazor.Models.IndexPageViewModel

@{
    ViewBag.Title = "Index";
    //var xrazor = new XRazor.Extensions.XRazor();
}

@Xsl.Match("/",
    @<text>
        <div>
            @Xsl.ApplyTemplates("IndexPageViewModel")
        </div>
    </text>)

@Xsl.Match("IndexPageViewModel",
    @<text>
        <h3>@item.Greeting</h3>
    </text>)

@Xsl.ApplyTemplates("/")
